.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  font-weight: 700;
}
.title-subpage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.d-block {
  display: block;
}
.logo {
  max-width: 70%;
  max-height: 70%;
}
.p-logo {
  padding: 5vh 0% 10vh 0%;
}
.p-link {
  padding-bottom: 2vh;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .title-subpage {
    font-size: 28px;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .title-subpage {
    font-size: 14px;
  }
}
